<h1>Madlibbing madlib</h1>



    <div style="color: green">
      <p><%= @story %> </p>
    
      
    </div>

  


<br>

<div>
  <%= link_to "Show this madlib", @madlib %> |
  <%= link_to "Back to madlibs", madlibs_path %>
</div>
